body {
  font-family: "Roboto","Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 78px 0 0;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.00938em;
}

* {
  box-sizing: border-box;
  letter-spacing: .2px;
}